.wrapper {
    width: 100%;
    min-height: 100%;
    overflow: auto;
    background-color: var(--background-wrapper);
}

.container {
    max-width: 1920px;
    height: 100vh;
    margin: 0 auto;
    position: relative;
    background-color: var(--background-container);
    display: grid;
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: 10% 90%;
}
