.bar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    // background: rgba(28, 28, 28, 1);
    background-color: var(--background-bar);
}

.content {
    display: flex;
    flex-direction: column;
}

.player {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.block {
    height: 73px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.progress {
    --range-progress: 0;

    appearance: none;
    position: relative;
    background: #ccc;
    width: 100%;
    height: 5px;
    border-radius: 0;
    outline: none;
    cursor: pointer;

    background: var(--background-bar-progress);
    border-radius: 5px;
    background-image: linear-gradient(#b672ff, #b672ff);
    background-size: 0% 100%;
    background-repeat: no-repeat;

    transition: height 0.2s;
    &::before {
        content: '';
        height: inherit;
        background: #b672ff;
        width: var(--range-progress);
        border-radius: 0;
        position: absolute;
        top: 0;
        left: 0;
        &:hover {
            height: 8px;
            background: #b672ff;
        }
    }

    /* played progress length - firefox */
    &::-moz-range-progress {
        background: #b672ff;
        border-radius: 0;
        height: 5px;
        &:hover {
            height: 8px;
        }
    }

    &::-webkit-slider-thumb {
        appearance: none;
        height: 0;
        width: 0;
    }

    &:hover {
        height: 8px;
        &::-webkit-slider-thumb {
            appearance: none;
            height: 28px;
            width: 28px;

            border-radius: 50%;
            background: rgba(255, 255, 255, 0.1);
            box-shadow: 0 0 2px 0 #555;
        }
    }
}

.controls {
    display: flex;
    flex-direction: row;
    padding: 0 27px 0 31px;
    gap: 33px;
}

.btn-prev,
.btn-play,
.btn-stop,
.btn-next,
.btn-repeat,
.btn-shuffle {
    padding: 5px;
    display: flex;
    align-items: center;
}
.btn-repeat,
.btn-shuffle {
    & .active {
        stroke: var(--svg-color-active);
        fill: var(--svg-color-active);
    }
}

.btn-play-svg,
.btn-stop-svg,
.btn-prev-svg,
.btn-next-svg {
    width: 22px;
    height: 20px;
    stroke: var(--svg-player-color);
    fill: var(--svg-player-color);
    cursor: pointer;
    &:hover {
        stroke: #696969;
        fill: #696969;
    }
}
.btn-repeat-svg,
.btn-shuffle-svg {
    fill: var(--svg-color);
    stroke: var(--svg-color);
    width: 19px;
    height: 12px;
    cursor: pointer;
    &:hover {
        fill: var(--svg-color-hover);
        stroke: var(--svg-color-hover);
    }
}

.btn__svg-active {
    fill: transparent;
    stroke: var(--svg-color-active);
}
.track-play {
    display: flex;
    flex-direction: row;
}

//volume

.volume-block {
    width: auto;
    display: flex;
    align-items: center;
    padding: 0 92px 0 0;
}

.volume-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
}

.volume-image {
    width: 13px;
    height: 18px;
    margin-right: 17px;
}

.volume-svg {
    width: 13px;
    height: 18px;
    fill: transparent;
}

.volume-progress {
    width: 109px;
    cursor: pointer;
}

.volume-progress-line {
    width: 109px;
}

._btn {
    cursor: pointer;
}

// player-track-play
.track-play {
    display: flex;
    flex-direction: row;
    width: 40%;
}

.contain {
    width: auto;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas: 'image author' 'image album';
    align-items: center;
}

.image {
    width: 51px;
    height: 51px;
    background-color: var(--background-optional);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 12px;
    grid-area: image;
}

.svg {
    width: 18px;
    height: 17px;
    fill: transparent;
    stroke: #4e4e4e;
}

.author {
    grid-area: author;
    min-width: 49px;
}

.author-link {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: inherit;
    white-space: nowrap;
}

.album {
    grid-area: album;
    min-width: 49px;
    padding-bottom: 10px;
}

.album-link {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
    color: inherit;
}

.like {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 12%;
}


