:root[data-theme='light'] {
    --text-color-main: #000;
    --text-color-translucent: #b1b1b1;
    --burger-line-color: #000000;
    --svg-color-active: #000000;
    --svg-color: #b1b1b1;
    --svg-color-hover: #707070;
    --svg-player-color: #b1b1b1;

    --background: #ffffff;
    --background-wrapper: #fff;
    --background-container: #fff;
    --background-bar: #fff;
    --background-optional: #f6f4f4;
    --background-nav: #f6f5f3;
    --background-bar-progress: #d9d9d9;
    --svg-like-stroke: #b1b1b1;
    --svg-like-stroke-active: #ad61ff;
    --svg-like-stroke-hover: #707070;
    --svg-icon-color: #000000;
    --svg-icon-hover: #ad61ff;
    --link-hover: #ad61ff;

    --background-playlistItem-hover: #e9e9e9;

    --svg-like-fill: #ad61ff;

    --background-scrollbar-track: #f6f4f4;
    --background-scrollbar-thumb: #b1b1b1;

    --color-logo: #000000;
    --ellipse: url('../assets/icon/blackEllipse.svg');
    --filled-ellipse: url('../assets/icon/filledBlackEllipse.svg');

    --btn-color: #580ea2;
    --btn-color-hover: #3f007d;
    --btn-color-active: #271a58;
}

:root[data-theme='dark'] {
    --text-color-main: #ffffff;
    --text-color-translucent: #696969;
    --burger-line-color: #d3d3d3;
    --svg-color-active: #ffffff;
    --svg-color: #696969;
    --svg-color-hover: #acacac;
    --svg-player-color: #d9d9d9;
    --svg-like-stroke: #696969;
    --svg-like-stroke-hover: #acacac;
    --svg-like-stroke-active: #ffffff;
    --svg-like-fill: #696969;
    --svg-icon-color: #ffffff;
    --svg-icon-hover: #ad61ff;
    --link-hover: #ad61ff;


    --background: #121212;
    --background-wrapper: #383838;
    --background-container: #181818;
    --background-bar: #181818;
    --background-optional: #313131;
    --background-nav: #181818;
    --background-bar-progress: rgba(255, 255, 255, 0.6);
    --background-playlistItem-hover: #69696933;

    --background-scrollbar-thumb: #ffffff;
    --background-scrollbar-track: #4b4949;
    --color-logo: #ffffff;

    --ellipse: url('../assets/icon/whiteEllipse.svg');
    --filled-ellipse: url('../assets/icon/filledWhiteEllipse.svg');

    --btn-color: #580ea2;
    --btn-color-hover: #3f007d;
    --btn-color-active: #271a58;
}
