.content {
    display: flex;
    flex-direction: column;
    // margin-right: 178px;
}

.title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
    max-width: 70vw;
    margin-top: 32px;

}

.playlist {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 60vh;

    //фон скроллбара
    &::-webkit-scrollbar {
        width: 4px; /* ширина всей полосы прокрутки */
    }

    //пустое пространство вокруг бегунка
    &:hover::-webkit-scrollbar-track {
        background: var(--background-scrollbar-track);
        border-radius: 10px; /* цвет зоны отслеживания */
        height: 65px;
    }

    //сам бегунок
    &:hover::-webkit-scrollbar-thumb {
        background: var(--background-scrollbar-thumb);
        border-radius: 10px;
    }
}

.playlist-title {
    &__col {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 2px;
        color: var(--text-color-translucent);
        text-transform: uppercase;
    }

    &__svg {
        width: 12px;
        height: 12px;
        fill: transparent;
        stroke: #696969;
    }
}

.col01 {
    width: 35%;
}

.col02 {
    width: 35%;
}

.col03 {
    width: 20%;
}
.col04 {
    width: 10%;
    text-align: center;
}

.playlist {
    &__item {
        width: 100%;
        display: block;
        margin-bottom: 12px;
        max-width: 70vw;
    }

    &__track {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-right: 20px;
        width: 100%;
        color: var(--text-color-main);
    }
}

.track {
    &__title {
        display: flex;
        flex-direction: row;
        align-items: center;
        // width: 447px;
        // min-width: 230px;
        width: 35%;
    }

    &__title-image {
        width: 51px;
        height: 51px;
        padding: 16px;
        background: var(--background-optional);
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 17px;
    }

    &__title-svg {
        width: 18px;
        height: 17px;
        fill: transparent;
        stroke: #4e4e4e;
    }

    //&__title-text {}

    &__title-link {
        height: 40px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: inherit;
    }

    &__title-span {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #4e4e4e;
    }

    &__author {
        // width: 321px;
        width: 35%;

        display: flex;
        justify-content: flex-start;
    }

    &__author-link {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: inherit;
        text-align: left;
    }

    &__album {
        // width: 245px;
        width: 20%;
        text-align: start;
    }

    &__album-link {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: var(--text-color-translucent);
    }

    &__time {
        width: 10%;
    }
    // &__like-btn {
    //     width: 14px;
    //     height: 12px;
    //     margin-right: 17px;
    //     fill: transparent;
    //     stroke: #696969;
    //     background-color: transparent;
    //     color: transparent;
    //     border: none;
    //     &:hover {
    //         stroke: #acacac;
    //     }
    //     &:focus {
    //         fill: red;
    //     }
    // }

    &__like-svg {
        width: 14px;
        height: 12px;
        margin-right: 17px;
        fill: transparent;
        stroke: #696969;
        cursor: pointer;
        &:hover {
            stroke: #acacac;
        }
    }

    &__time-text {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        text-align: right;
        color: var(--text-color-translucent);
    }
}
