.list {
    padding: 18px 0 10px 0;
    display: block;
    visibility: visible;
}
.item {
    padding: 5px 0;
    margin-bottom: 16px;
}
.link {
    color: var(--text-color-main);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
